.title {
  display: flex;
  flex-direction: column;
}

.title span {
  font-size: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  max-width: 960px;
  width: 100%;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.register-icon > g path {
  fill: rgb(var(--color-primary));
}
.register-icon g:last-child {
  fill: rgb(var(--color-slate-100));
}
.register-icon circle {
  fill: rgb(var(--color-success));
}
