.title {
  font-weight: 500;
  line-height: 1.75rem;
  font-size: 1.125rem;
  color: var(--slate-900);
}

.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--slate-900);
}
.new svg > g path {
  fill: rgb(var(--color-primary));
}
.new svg g:last-child {
  fill: var(--slate-100);
}
.new svg circle {
  fill: rgb(var(--color-success));
}
.new h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.new p {
  font-size: 1rem;
}
