.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.875rem;
}

.search {
  width: 16rem;
}

.caption {
  font-size: 1rem;
  text-align: center;
  font-size: 0.875rem;
}
.caption span {
  font-weight: 500;
}
