.table {
  border-spacing: 0 10px;
  border-collapse: separate;
  width: 100%;
  text-align: left;
  display: table;
}

.table th {
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}
