.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.first-column {
  grid-column: span 7;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.second-column {
  grid-column: span 5;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.all {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
