.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal h4 {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 500;
}
.modal p {
  font-size: 0.875rem;
}
.modal div {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.text-center {
  text-align: center;
}
