.action {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
}

button.action {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.action.primary {
  color: rgb(var(--color-slate-500));
}
.action.primary:hover {
  color: rgb(var(--color-slate-900));
}

.action.danger {
  --tw-text-opacity: 0.8;
  color: rgb(var(--color-danger) / var(--tw-text-opacity));
}
.action.danger:hover {
  --tw-text-opacity: 1;
}

.action.warning {
  --tw-text-opacity: 0.7;
  color: rgb(var(--color-warning) / var(--tw-text-opacity));
}
.action.warning:hover {
  --tw-text-opacity: 1;
}
