.message {
  text-align: center;
  color: rgb(var(--color-primary));
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
}

.info {
  text-align: center;
  color: rgb(var(--color-primary));
  font-size: 1rem;
  margin: 1rem 0;
}

.info span {
  font-weight: 600;
}

.footer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
