.report-box {
  padding: 3px 0.5rem 3px 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  width: fit-content;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

.report-box.primary {
  color: rgb(var(--color-white) / var(--tw-text-opacity));
  background-color: rgb(var(--color-primary) / var(--tw-bg-opacity));
}

.report-box.secondary {
  color: var(--slate-600);
  background-color: rgb(var(--color-secondary) / var(--tw-bg-opacity));
}

.report-box.success {
  color: var(--slate-900);
  background-color: rgb(var(--color-success) / var(--tw-bg-opacity));
}

.report-box.danger {
  color: rgb(var(--color-white) / var(--tw-text-opacity));
  background-color: rgb(var(--color-danger) / var(--tw-bg-opacity));
}

.report-box.warning {
  color: var(--slate-900);
  background-color: rgb(var(--color-warning) / var(--tw-bg-opacity));
}
